#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3
#define MOUSE 4
#define SYSTEM 5

&mt {
    flavor = "balanced";
    tapping-term-ms = <250>;
    quick-tap-ms = <0>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <250>;
    quick-tap-ms = <0>;
};

/ {

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };
    };

    combos {    
        compatible = "zmk,combos";

    // 複数キーの同時押しに特別の入力を設定できる
    // キー番号早見表：
    // 	0  1  2  3  4           5  6  7  8  9
    // 10 11 12 13 14          15 16 17 18 19
    // 20 21 22 23 24          25 26 27 28 29	
    // 30 31 32 33 34          35 36 37 38 39

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            timeout-ms = <80>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
            timeout-ms = <80>;
        };

        system_layer {
            bindings = <&mo SYSTEM>;
            key-positions = <30 31>;
            timeout-ms = <80>;
        };
    };

    behaviors {

    };

    macros {

    };

    keymap {
        compatible = "zmk,keymap"; 

        DEFAULT {
            bindings = <
            // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
                &kp Q           &kp W           &kp E           &kp R           &kp T           &kp Y           &kp U           &kp I           &kp O           &kp P
                &kp A           &kp S           &kp D           &kp F           &kp G           &kp H           &kp J           &kp K           &kp L           &kp ENTER
                &mt LSHIFT Z    &kp X           &kp C           &kp V           &kp B           &kp N           &kp M           &kp COMMA       &kp DOT         &mt RSHIFT SLASH
                &kp LCTRL       &kp LGUI        &kp LALT        &kp SPACE       &lt LOWER LANG2 &lt RAISE LANG1 &kp BSPC        &kp RALT        &kp RGUI        &kp RCTRL
            >;
        };

        LOWER {
            bindings = <
            // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
                &kp NUMBER_1    &kp NUMBER_2    &kp NUMBER_3    &kp NUMBER_4    &kp NUMBER_5    &kp NUMBER_6    &kp NUMBER_7    &kp NUMBER_8    &kp NUMBER_9    &kp NUMBER_0
                &trans          &trans          &trans          &trans          &trans          &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &trans
                &trans          &trans          &trans          &trans          &trans          &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP     &kp END         &trans
                &trans          &trans          &trans          &trans          &trans          &trans          &kp DEL         &trans          &trans          &trans
            >;
        };

        RAISE {
            bindings = <
            // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
                &kp EXCLAMATION &kp AT_SIGN     &kp HASH        &kp DOLLAR      &kp PERCENT     &kp CARET       &kp AMPERSAND   &kp ASTERISK    &kp LPAR        &kp RPAR
                &kp GRAVE       &kp TILDE       &kp DQT         &kp SQT         &trans          &trans          &kp MINUS       &kp UNDER       &kp LBKT        &kp RBKT
                &kp PIPE        &kp BACKSLASH   &kp COLON       &kp SEMICOLON   &trans          &trans          &kp EQUAL       &kp PLUS        &kp LBRC        &kp RBRC
                &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
            >;
        };

        ADJUST {
            bindings = <
            // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
                &trans          &trans          &trans          &trans          &trans          &trans          &kp F9          &kp F10         &kp F11         &kp F12
                &trans          &trans          &trans          &trans          &trans          &trans          &kp F5          &kp F6          &kp F4          &kp F8
                &trans          &trans          &trans          &trans          &trans          &trans          &kp F1          &kp F2          &kp F3          &kp F4
                &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
            >;
        };

        MOUSE {
            bindings = <
            // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
                &trans          &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT &msc SCRL_UP    &trans          &trans          &trans          &trans          &trans
                &trans          &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT &msc SCRL_DOWN  &mkp MB1        &mkp MB2        &mkp MB3        &trans          &trans
                &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
                &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
            >;
        };

        SYSTEM {
            bindings = <
            // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
                &trans          &trans          &trans          &trans          &trans          &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4
                &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &out OUT_BLE    &out OUT_USB
                &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
                &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &bt BT_CLR      &bt BT_CLR_ALL
            >;
        };
    };
};



        QWE {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &mt_s LSHFT Q   &kp W           &kp E           &kp R           &kp T           &kp Y           &kp U           &kp I           &kp O           &mt_s RSHFT P
            &mt_s LCTRL A   &kp S           &kp D           &kp F           &kp G           &kp H           &kp J           &kp K           &kp L           &mt_s RCTRL SEMI
            &mt_s LGUI Z    &kp X           &kp C           &kp V           &kp B           &kp N           &kp M           &kp COMMA       &kp DOT         &mt_s RALT SLASH
            &kp LCTRL       &kp LGUI        &lt_bl NUM LBKT &mt LSHFT SPACE &lt LWR TAB     &lt RSE ENTER   &mt RSHFT SPACE &lt_bl MOV RBKT &kp RGUI        &kp RCTRL
            >;
        };

        NIC { 
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &macro_JPPERIOD &macro_KA       &macro_TA       &macro_KO       &macro_SA       &macro_RA       &macro_TI       &macro_KU       &macro_TU       &macro_JPCOMMA1
            &macro_U        &macro_SI	    &macro_TE       &macro_KE       &macro_SE       &macro_HA       &macro_TO       &macro_KI       &macro_I        &macro_NN
            &macro_JPTEN    &macro_HI	    &macro_SU       &macro_HU       &macro_HE       &macro_ME       &macro_SO       &macro_NE       &macro_HO       &macro_JPNAKATEN
            &trans          &trans          &lt_bl NUM LBKT &kp SPACE       &lt LWR TAB     &lt RSE ENTER   &kp LS(SPACE)   &lt_bl MOV RBKT &trans          &trans
            >;
        };

        LIN {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &mt_s LSHFT Q   &kp W           &kp E           &kp R           &kp T           &kp Y           &kp U           &kp I           &kp O           &mt_s RSHFT P
            &mt_s LCTRL A   &kp S           &kp D           &kp F           &kp G           &kp H           &kp J           &kp K           &kp L           &mt_s RCTRL SEMI
            &mt_s LALT Z    &kp X           &kp C           &kp V           &kp B           &kp N           &kp M           &kp COMMA       &kp DOT         &mt_s RGUI SLASH
            &trans          &trans          &lt_bl NUML ESC &mt LSHFT SPACE &lt LWRL TAB	&lt RSEL ENTER	&mt RSHFT SPACE &lt_bl MOVL ESC &trans          &trans
            >;
        };

        NICL { 
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &macro_JPPERIOD &macro_KA       &macro_TA       &macro_KO       &macro_SA       &macro_RA       &macro_TI       &macro_KU       &macro_TU       &macro_JPCOMMA1
            &macro_U        &macro_SI	    &macro_TE       &macro_KE       &macro_SE       &macro_HA       &macro_TO       &macro_KI       &macro_I        &macro_NN
            &macro_JPTEN    &macro_HI	    &macro_SU       &macro_HU       &macro_HE       &macro_ME       &macro_SO       &macro_NE       &macro_HO       &macro_JPNAKATEN
            &trans          &trans          &lt_bl NUML ESC &kp SPACE       &lt LWRL TAB    &lt RSEL ENTER  &kp LS(SPACE)   &lt_bl MOVL ESC &trans          &trans
            >;
        };

        CAD {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &td_Q           &td_W           &td_E           &td_R           &td_T           &td_Y           &td_U           &td_I           &td_O           &td_P
            &td_A           &td_S           &td_D           &td_F           &td_G           &td_H           &td_J           &td_K           &td_L           &td_SEMI
            &td_Z           &td_X           &td_C           &td_V           &td_B           &td_N           &td_M           &td_COMMA       &td_DOT         &td_SLASH
            &trans          &trans          &lt_bl NUMW INT5 &kp SPACE      &lt LWRW TAB    &lt RSEW ENTER	&mt RSHFT ESC   &lt_bl MOVW INT4 &trans         &trans
            >;
        };

        WIN {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &kp Q           &kp W           &kp E           &kp R           &kp T           &kp Y           &kp U           &kp I           &kp O           &kp P
            &kp A           &kp S           &kp D           &kp F           &kp G           &kp H           &kp J           &kp K           &kp L           &kp SEMI
            &kp Z           &kp X           &kp C           &kp V           &kp B           &kp N           &kp M           &kp COMMA       &kp DOT         &kp SLASH
            &trans          &trans          &lt_bl NUMW ESC &kp SPACE      &lt LWRW TAB     &lt RSEW ENTER	&kp INT4        &lt_bl MOVW ESC &trans          &trans
            >;
        };

        LWR {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &mt_s LSHFT PG_UP &kp LC(A)     &kp UP          &kp LC(E)       &kp LS(TAB)     &kp DEL         &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT &mt_s RSHFT SCRL_UP
            &mt_s LCTRL PG_DN &kp LEFT      &kp DOWN        &kp RIGHT       &trans          &kp BSPC        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT &mt_s RCTRL SCRL_DOWN
            &mt_s LGUI LC(V)  &mkp MB1      &mkp MB3        &mkp MB2	    &trans          &mkp MB1        &kp ENTER       &kp LA(LEFT)    &kp LA(RIGHT)   &mt RALT RG(V)
            &trans          &trans          &kp LSHFT       &sk_ctrl        &trans          &ht_lg1 ADJ 0   &kp LS(LC(V))   &kp RSHFT       &trans          &trans
            >;
        };

        LWRL {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &mt_s LSHFT PG_UP &kp HOME      &kp UP          &kp END         &kp LS(TAB)     &kp DEL         &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT &mt_s RSHFT SCRL_UP
            &mt_s LCTRL PG_DN &kp LEFT      &kp DOWN        &kp RIGHT   	&trans          &kp BSPC        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT &mt_s RCTRL SCRL_DOWN
            &mt_s LALT LC(V)  &mkp MB1      &mkp MB3        &mkp MB2	    &trans          &mkp MB1        &kp ENTER       &kp LC(LEFT)    &kp LC(RIGHT)   &mt RGUI RG(V)
            &trans          &trans          &kp LSHFT       &sk_ctrl        &trans          &ht_it4 ADJL 0  &kp LS(LC(V))   &kp RSHFT       &trans          &trans
            >;
        };

        LWRW {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &mt_s LSHFT PG_UP &kp HOME      &kp UP          &kp END         &kp LS(TAB)     &kp DEL         &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT &mt_s RSHFT SCRL_UP
            &mt_s LCTRL PG_DN &kp LEFT      &kp DOWN        &kp RIGHT       &trans          &kp BSPC        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT &mt_s RCTRL SCRL_DOWN
            &mt_s LALT LC(V)  &mkp MB1      &mkp MB3        &mkp MB2	    &trans          &mkp MB1        &kp ENTER       &kp LC(LEFT)    &kp LC(RIGHT)   &mt RGUI RG(V)
            &trans          &trans          &kp LSHFT       &sk_ctrl        &trans          &htW_it4 ADJW 0 &kp LS(LC(V))   &kp RSHFT       &trans          &trans
            >;
        };

        RSE {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &mt_s LSHFT F1  &kp F2          &kp F3          &kp F4          &kp F5          &kp F6          &kp F7    	    &kp F8          &kp F9          &mt_s RSHFT F10
            &macro_JPN1     &macro_JPN2	    &macro_JPN3     &macro_JPN4     &macro_JPN5	    &macro_JPN6     &macro_JPN7     &macro_JPN8	    &macro_JPN9     &macro_JPN0
            &mt_s LGUI INT1 &kp BSLH        &kp INT3        &kp SLASH       &kp ASTRK       &kp MINUS       &kp PLUS  	    &kp LBKT        &kp RBKT        &mt RALT RG(V)
            &trans          &trans          &kp LSHFT       &kp SPACE       &ht_lg2 ADJ 0   &trans          &sk_gui         &kp RSHFT       &trans          &trans
            >;
        };

        RSEL {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &mt_s LSHFT F1  &kp F2          &kp F3          &kp F4          &kp F5          &kp F6          &kp F7    	    &kp F8          &kp F9          &mt_s RSHFT F10
            &mt_s LCTRL N1  &kp N2          &kp N3          &kp N4          &kp N5          &kp N6          &kp N7    	    &kp N8          &kp N9          &mt_s RCTRL N0
            &mt_s LALT INT1 &kp BSLH        &kp INT3        &kp SLASH       &kp ASTRK       &kp MINUS       &kp PLUS  	    &kp LBKT        &kp RBKT        &mt RGUI RC(V)
            &trans          &trans          &kp LSHFT       &kp SPACE       &ht_it5 ADJL 0  &trans          &sk_gui         &kp RSHFT       &trans          &trans
            >;
        };

        RSEW {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &mt_s LSHFT F1  &kp F2          &kp F3          &kp F4          &kp F5          &kp F6          &kp F7    	    &kp F8          &kp F9          &mt_s RSHFT F10
            &mt_s LCTRL N1  &kp N2          &kp N3          &kp N4          &kp N5          &kp N6          &kp N7    	    &kp N8          &kp N9          &mt_s RCTRL N0
            &mt_s LALT INT1 &kp BSLH        &kp INT3        &kp SLASH       &kp ASTRK       &kp MINUS       &kp PLUS  	    &kp LBKT        &kp RBKT        &mt GUI RC(V)
            &trans          &trans          &kp LSHFT       &kp SPACE       &htC_it5 ADJW 0 &trans          &sk_gui         &kp RSHFT       &trans          &trans
            >;
        };

        ADJ {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &mt_s LSHFT F11 &kp F12         &kp C_MUTE      &kp C_VOL_DN    &kp C_VOL_UP    &kp CAPS        &kp PSCRN       &kp SLCK        &kp PAUSE_BREAK &kp LS(UP)
            &out OUT_BLE    &usb_lCAD       &bt3_lCAD       &kp LS(RIGHT)   &kp G           &kp INT5        &file_r         &pr_pg          &nx_pg          &file_f
            &bt0_lQWE       &bt1_lNICL      &bt2_lNICL      &kp K_APP       &kp LS(LEFT)    &kp LS(DOWN) &kp LS(LG(LEFT)) &kp LS(LA(LEFT)) &kp LS(LA(RIGHT)) &kp LS(LG(RIGHT))
            &trans          &trans          &to QWE         &grave_uc       &trans          &trans          &tilde_uc	    &to CAD         &trans          &trans
            >;
        };

        ADJL {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &mt_s LSHFT F11 &kp F12         &kp C_MUTE      &kp C_VOL_DN    &kp C_VOL_UP    &kp CAPS        &kp PSCRN       &kp SLCK        &kp PAUSE_BREAK &kp LS(UP)
            &out OUT_BLE    &usb_lCAD       &bt3_lCAD       &kp LS(RIGHT)   &kp G           &kp INT5        &file_r         &pr_pg          &nx_pg          &file_f
            &bt0_lQWE       &bt1_lNICL      &bt2_lNICL      &kp K_APP       &kp LS(LEFT)    &kp LS(DOWN)    &kp LS(HOME) &kp LS(LC(LEFT)) &kp LS(LC(RIGHT)) &kp LS(END)
            &trans          &trans          &to QWE         &grave_uc       &trans          &trans          &tilde_uc	    &to CAD         &trans          &trans
            >;
        };

        ADJW {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &mt_s LSHFT F11 &kp F12         &kp C_MUTE      &kp C_VOL_DN    &kp C_VOL_UP    &kp CAPS        &kp PSCRN       &kp SLCK        &kp PAUSE_BREAK &kp LS(UP)
            &out OUT_BLE    &usb_lCAD       &bt3_lCAD       &kp LS(RIGHT)   &kp G           &kp INT5        &file_r         &pr_pg          &nx_pg          &file_f
            &bt0_lQWE       &bt1_lNICL      &bt2_lNICL      &kp K_APP       &kp LS(LEFT)    &kp LS(DOWN)    &kp LS(HOME) &kp LS(LC(LEFT)) &kp LS(LC(RIGHT)) &kp LS(END)
            &trans          &trans          &to QWE         &grave_uc       &trans          &trans          &tilde_uc	    &to CAD         &trans          &trans
            >;
        };

        MOV {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &kp LS(LC(TAB)) &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT &msc SCRL_UP    &lt BLE LC(Y)   &kp LC(A)       &kp UP          &kp LC(E)       &kp PG_UP
            &mt_s LCTRL MB1 &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT &msc SCRL_DOWN  &lt BLE BSPC    &kp LEFT        &kp DOWN        &kp RIGHT       &kp PG_DN
            &mt_s LGUI Z    &kp LG(LBKT)    &mkp MB3        &kp LG(RBKT)    &kp LC(TAB)     &kp LC(Z)       &kp LS(LC(TAB)) &kp LA(LEFT)    &kp LA(RIGHT)   &kp LC(TAB)
            &trans          &trans          &kp LG(C)       &kp LG(V)       &mkp MB2        &kp ENTER       &mkp MB1        &to QWE         &trans          &trans
            >;
        };

        MOVL {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &kp LS(LC(TAB)) &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT &msc SCRL_UP    &lt BLE LC(Y)   &kp HOME        &kp UP          &kp END         &kp PG_UP
            &mt_s LCTRL MB1 &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT &msc SCRL_DOWN  &lt BLE BSPC    &kp LEFT        &kp DOWN        &kp RIGHT       &kp PG_DN
            &mt_s LALT Z    &kp LA(LEFT)    &mkp MB3        &kp LA(RIGHT)   &kp LC(TAB)     &kp LC(Z)       &kp LC(PG_UP)   &kp LG(LBKT)    &kp LG(RBKT)    &kp LC(PG_DN)
            &trans          &trans          &kp LC(C)       &kp LC(V)       &mkp MB2        &kp ENTER       &mkp MB1        &to LIN         &trans          &trans
            >;
        };

        MOVW {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &kp LS(LC(TAB)) &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT &msc SCRL_UP    &lt BLE LC(Y)   &kp HOME        &kp UP          &kp END         &kp PG_UP
            &mt_s LCTRL MB1 &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT &msc SCRL_DOWN  &lt BLE BSPC    &kp LEFT        &kp DOWN        &kp RIGHT       &kp PG_DN
            &mt_s LALT Z    &kp LA(LEFT)    &mkp MB3        &kp LA(RIGHT)   &kp LC(TAB)     &kp LC(Z)       &kp LC(PG_UP)   &kp LG(LBKT)    &kp LG(RBKT)    &kp LC(PG_DN)
            &trans          &trans9         &kp LC(C)       &kp LC(V)       &mkp MB2        &kp ENTER       &mkp MB1        &to CAD         &trans          &trans
            >;
        };

        NUM {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &kp PG_UP       &kp LC(A)       &kp UP          &kp LC(E)       &lt BLE CARET   &kp KP_SLASH    &kp KP_N7       &kp KP_N8       &kp KP_N9       &kp KP_MULTIPLY
            &kp PG_DN       &kp LEFT        &kp DOWN        &kp RIGHT       &lt BLE DEL     &kp BSPC        &kp KP_N4       &kp KP_N5       &kp KP_N6       &kp KP_MINUS
            &alt_left	    &alt_down       &alt_up         &alt_right      &kp EQUAL       &kp KP_N0       &kp KP_N1       &kp KP_N2       &kp KP_N3       &kp KP_PLUS
            &trans          &trans          &t_lang2        &pr_pg	        &nx_pg          &kp KP_ENTER    &kp UNDER       &kp SPACE       &trans          &trans
            >;
        };

        NUML {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &kp PG_UP       &kp HOME        &kp UP          &kp END         &lt BLE CARET   &kp KP_SLASH    &kp KP_N7       &kp KP_N8       &kp KP_N9       &kp KP_MULTIPLY
            &kp PG_DN       &kp LEFT        &kp DOWN        &kp RIGHT       &lt BLE DEL     &kp BSPC        &kp KP_N4       &kp KP_N5       &kp KP_N6       &kp KP_MINUS
            &alt_left	    &alt_down       &alt_up         &alt_right      &kp EQUAL       &kp KP_N0       &kp KP_N1       &kp KP_N2       &kp KP_N3       &kp KP_PLUS
            &trans          &trans          &t_int5         &pr_pg	        &nx_pg          &kp KP_ENTER    &kp UNDER       &kp SPACE       &trans          &trans
            >;
        };

        NUMW {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &kp PG_UP       &kp HOME        &kp UP          &kp END         &lt BLE CARET   &kp KP_SLASH    &kp KP_N7       &kp KP_N8       &kp KP_N9       &kp KP_MULTIPLY
            &kp PG_DN       &kp LEFT        &kp DOWN        &kp RIGHT       &lt BLE DEL     &kp BSPC        &kp KP_N4       &kp KP_N5       &kp KP_N6       &kp KP_MINUS
            &alt_left	    &alt_down       &alt_up         &alt_right      &kp EQUAL       &kp KP_N0       &kp KP_N1       &kp KP_N2       &kp KP_N3       &kp KP_PLUS
            &trans          &trans          &tC_int5        &pr_pg	        &nx_pg          &kp KP_ENTER    &kp UNDER       &kp SPACE       &trans          &trans
            >;
        };

        WINS {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &kp Q           &kp W           &kp E           &kp R           &kp T           &kp Y           &kp U           &kp I           &kp O           &kp P
            &kp A           &kp S           &kp D           &kp F           &kp G           &kp H           &kp J           &kp K           &kp L           &kp SEMI
            &kp Z           &kp X           &kp C           &kp V           &kp B           &kp N           &kp M           &kp COMMA       &kp DOT         &kp SLASH
            &trans          &trans          &qm LSHFT       &kp SPACE       &kp TAB         &kp ENTER	    &kp INT4        &qm RALT        &trans          &trans
            >;
        };

        BLE {
            bindings = <
        // +---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------
            &sys_reset      &bootloader     &kp INT3        &kp INT6        &bt BT_CLR_ALL  &bt BT_CLR_ALL  &m_hi_con   	&kp GRAVE       &bootloader     &sys_reset
            &kp LC(LG(T))   &kp LC(LG(C))   &kp LC(LG(P))   &kp LC(LG(G))   &trans          &trans          &kp LC(LG(E))   &kp LC(LG(A))   &kp LC(LG(L))   &kp LC(LG(X))
            &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bootloader     &bootloader     &bt4_lLIN       &kp TILDE       &kp TILDE2      &kp K_CALC
            &trans          &trans          &trans          &kp LS(LG(F23)) &bt BT_CLR      &bt BT_CLR      &kp LA(LG(G))   &trans          &trans          &trans    
            >;
        };